<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-columns">

        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <img src="http://bonnier.imgix.net/mercedes-amg-s65-cabriolet-11_1200-oyPAimvahKc-kcTLNi8inQ.jpg?auto=format&dpr=1.33&ixjsv=1.0.24&w=610" alt="Card image" class="img-fluid">
          <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top img-fluid" src="http://bonnier.imgix.net/mercedes-amg-s65-cabriolet-11_1200-oyPAimvahKc-kcTLNi8inQ.jpg?auto=format&dpr=1.33&ixjsv=1.0.24&w=610" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
