// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

p {
  margin: 0 0 1em;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

.text-center {
  text-align: center;
}

a {
  @include transition(all 0.2s);
}

h1 {
  font-size: $font-size-h3;
}

h2 {
  font-size: $font-size-h4;
}

h3 {
  font-size: $font-size-h5;
}

h4 {
  font-size: $font-size-base;
}

h5 {
  font-size: $font-size-sm;
}

h6, p {
  font-size: $font-size-xs;
}


@include media-breakpoint-up(sm) {
  h1 {
    font-size: $font-size-h2;
  }

  h2 {
    font-size: $font-size-h3;
  }

  h3 {
    font-size: $font-size-h4;
  }

  h4 {
    font-size: $font-size-h5;
  }

  h5 {
    font-size: $font-size-base;
  }

  h6, p {
    font-size: $font-size-sm;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  h4 {
    font-size: $font-size-h4;
  }

  h5 {
    font-size: $font-size-h5;
  }

  h6, p {
    font-size: $font-size-h6;
  }
}
