.colored-text {
  font-family: 'Cookie';
  font-size: 40px;
  background: #ee3a52;
  background: -webkit-linear-gradient( left, #ff512f 0%, #dd2476 25%, #ff512f 100% ) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 90s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% { background-position: 0 0;}
  100% {background-position: -8000px -3000px;}
}

.navbar-brand {
  margin-right: 0;

  img {
    width: 100%;
    max-width: 180px;
  }
}

.main-header {
  position: relative;
  padding: 10px 0px 0px;

  .pulse-animation {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    z-index: 999999;
  }
}

.pulse-animation {



  .pulse-circle, .pulse-circle-2, .pulse-circle-3 {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation-name: Pulse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background: radial-gradient(circle,#ff512f 0%,#dd2476 100%);
    top: 8px;
    left: 7px;
  }

  .pulse-circle-2 {
    animation-delay: 0.5s;
  }

  .pulse-circle-3 {
    animation-delay: 1s;
  }

  i {
    font-size: .9em;
    margin: 4px;
    line-height: 43px;
  }
}

@-webkit-keyframes Pulse{
  0% {
    transform:scale(1);
    opacity:.25;
    animation-timing-function:ease-in-out;
  }

  50% {
    transform:scale(2.5);
    opacity:.02;
    animation-timing-function:ease-in-out;
  }

  100% {
    transform:scale(1);
    opacity:.25;
    animation-timing-function:ease-in-out;
  }
}

.section-header {
  padding: 25px 0 48px;
  width: 100%;
}

.main-header-wrapper {
  background: #fff;
}

.main-nav {
  overflow-x: auto;
  overflow-y: hidden;
  background: #f8f8f8;
  margin-top: 10px;

  .navbar-nav {
    display: flex;
  }
}

.navbar-nav {
  a {
    font-size: $font-size-xs;
  }
}

.nav-item {
  .nav-link {
    color: #ccc;
  }
  &:hover {
    .nav-link {
      color: #999;
    }
  }
  &.active {
    .nav-link {
      color: #999;
      border-bottom: 1px solid $brand-primary;
    }
  }
}

.sign-up-nav {
  .nav-item {
    margin-left: 3px !important;
  }

  .btn {
    padding: 5px 10px;
  }
}

@include media-breakpoint-up(sm) {
  .navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;

    a {
      font-size: $font-size-sm;
    }
  }

  .main-nav {
    background: inherit;
    margin-top: 0px;
  }

  .sign-up-nav {
    .nav-item {
      margin-left: 1rem !important;
    }

    .btn {
      padding: $btn-padding-y $btn-padding-x;
    }
  }
}

@include media-breakpoint-up(md) {

  .navbar-nav {
    a {
      font-size: $font-size-base;
    }
  }

  .main-header {
    padding: 30px 0 40px;

    .pulse-animation {
      position: absolute;
      right: 15px;
      bottom: -25px;
      z-index: 999999;
    }
  }
}
