@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700|Cookie);

.colored-text {
  font-family: 'Cookie';
  font-size: 40px;
  background: #ee3a52;
  background: -webkit-linear-gradient( left, #ff512f 0%, #dd2476 25%, #ff512f 100% ) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 90s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% { background-position: 0 0;}
  100% {background-position: -8000px -3000px;}
}

.navbar-brand {
  img {
    max-width: 170px;
  }
}

.navbar-nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-header {
  position: relative;
  padding: 30px 0 70px;

  .pulse-animation {
    position: absolute;
    right: 50px;
    bottom: 25px;
  }
}

.pulse-animation {

  .pulse-circle, .pulse-circle-2, .pulse-circle-3 {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation-name: Pulse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background: radial-gradient(circle,#ff512f 0%,#dd2476 100%);
    top: 8px;
    left: 7px;
  }

  .pulse-circle-2 {
    animation-delay: 0.5s;
  }

  .pulse-circle-3 {
    animation-delay: 1s;
  }

  i {
    font-size: .9em;
    margin: 4px;
    line-height: 43px;
  }
}

@-webkit-keyframes Pulse{
  0% {
    transform:scale(1);
    opacity:.25;
    animation-timing-function:ease-in-out;
  }

  50% {
    transform:scale(2.5);
    opacity:.02;
    animation-timing-function:ease-in-out;
  }

  100% {
    transform:scale(1);
    opacity:.25;
    animation-timing-function:ease-in-out;
  }
}

.section-header {
  padding: 25px 0 48px;
  width: 100%;
}

.main-header-wrapper {
  background: #fff;
}

